NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://techsonar:techsonar@localhost:5432/techsonar_dev?schema=public"

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


PAGARME_SECRET_KEY=change_me
PAGARME_WEBHOOK_SECRET=change_me

FCM_PROJECT_ID=change_me
FCM_CLIENT_EMAIL=change_me
FCM_PRIVATE_KEY=change_me
